.sign-in-container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 900px;
}

@media (max-width: 900px) {
    .sign-in-container{
        flex-direction: column;
    }

}